---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for eintrag in collections.all %}
  <url>
    <loc>{{ eintrag.url | absolut }}</loc>
    {%- if eintrag.date %}
    <lastmod>{{ eintrag.date | datumISO }}</lastmod>
    {%- endif %}
  </url>
{%- endfor %}
</urlset>
